@{
    ViewBag.Title = "AngularJs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <style type="text/css">
        .odd {
            background-color: #663399;
            color: #ffff00;
            font-family: 'Comic Sans MS';
            font-style: italic;
        }

        .odd2 {
            background-color: #ffccff;
            color: #000000;
        }

        .even {
            background-color: #99cc66;
            color: #0000ff;
            font-family: 'Times New Roman';
            font-weight: 900;
        }

        .even2 {
            background-color: #ffffcc;
            color: #000000;
        }
        #topheader {
            height:auto;
            padding-top:0px;
            padding-bottom:0px;
            margin-top:0px;
            margin-bottom:0px;
        }
        #headerAJS {
            height:auto;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        #headerCount {
            height: auto;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        #row1 {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            height:auto;
        }
        #row2 {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            height: auto;
        }
        #row3 {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            height: auto;
        }
        #row4 {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            height: auto;
        }

        .a_room {
            color: #000033;
            background-color: #ffffff;
        }
    </style>
    <script src="~/Scripts/modules/p_mvc4_university_mng_app.js"></script>
<script src="~/Scripts/services/allocated_rooms_service.js"></script>
<script src="~/Scripts/filters/custom_filters.js"></script>
<script src="~/Scripts/controllers/allocated_rooms_controller.js"></script>
}

<div style="width:100%; float:left;" ng-app="pMVC4UniversityMngApp">
    <div class="container container-fluid" ng-controller="AllocatedRoomsController">
        <div class="panel panel-default">
            <div id="topheader" class="panel-heading">
                <div class="row-fluid">
                    <div class="col-lg-6 span6">
                        <h3 id="headerAJS" class="fa fa-2x">AngularJs</h3>
                    </div>
                    <div class="col-lg-6 span6">
                        <h4 id="headerCount">
                            <i class="icon-th"></i>{{message}}
                            <span class="label label-primary">{{courses.length}}</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="row1" class="panel-body">
                <div class="row-fluid">
                    <div class="col-lg-6 span6">
                        <span>Select Department Code :-</span>
                        <select class="dropdown" ng-model="deptCode"
                                ng-options="dc for dc in courses | orderBy:'DeptCode' | unique:'DeptCode'"
                                ng-change="resetSizeNPage()"></select>
                    </div>
                    <div class="col-lg-6 span6">
                        <span>Select Courses Per Page :-</span>
                        <select class="dropdown" ng-model="pageSize"
                                ng-options="num for num in limitRange"
                                ng-change="resetPage()"></select>
                    </div>
                </div>
            </div>
            <div id="row2" class="panel-body">
                <div class="row-fluid">
                    <div class="span12">
                        <span>
                            View Class Schedule and Room Allocation Information Of :-
                            <strong ng-if="deptCode!=selectStr">{{deptCode}}</strong>
                            <strong ng-if="deptCode==selectStr">ALL</strong>
                            Department(s) :-
                        </span>
                        <span>
                            | @Html.ActionLink("Allocate a Class Room for a Course", "Create")
                            | @Html.ActionLink("UnAllocate All Class Rooms", "UnAllocateAllClassRooms")
                        </span>
                    </div>
                </div>
            </div>
            <div id="row3" class="box panel-body sortable">
                <div class="box row-fluid sortable">
                    <div class="box-content span12">
                        <table class="table table-responsive table-bordered table-condensed table-striped table-hover">
                            <tr>
                                <th class="odd">
                                    SL
                                </th>
                                <th class="odd">
                                    Course Code
                                </th>
                                <th class="odd2">
                                    Course Name
                                </th>
                                <th class="odd2">
                                    Schedule Information
                                </th>
                            </tr>
                            <tr ng-repeat="c in courses | filter:IsCourseSelected | orderBy:'-CourseCode' | range:selectedPage:pageSize">
                                <td ng-if="$odd" class="odd">
                                    {{$index + 1}}
                                </td>
                                <td ng-if="$even" class="even">
                                    {{$index + 1}}
                                </td>
                                <td ng-if="$odd" class="odd">
                                    {{c.CourseCode|lowercase}}
                                </td>
                                <td ng-if="$even" class="even">
                                    {{c.CourseCode|lowercase}}
                                </td>
                                <td ng-if="$odd" class="odd2">
                                    {{c.CourseName|lowercase}}
                                </td>
                                <td ng-if="$even" class="even2">
                                    {{c.CourseName|uppercase}}
                                </td>
                                <td ng-if="$odd&&(c.AallocatedRooms.length>0)" class="odd2">
                                    <span class="fa" ng-repeat="a in c.AallocatedRooms | orderBy:'WeekDayID'">
                                        <a class="a_room" ng-href="/AllocatedRooms/Details/{{a.AllocatedRoomID}}">
                                            <strong>R.No:</strong>
                                            {{a.RoomNo}}, {{a.DayName}}, {{a.StartTime}} - {{a.EndTime}};
                                        </a>
                                    </span>
                                </td>
                                <td ng-if="$even&&(c.AallocatedRooms.length>0)" class="even2">
                                    <span class="fa" ng-repeat="a in c.AallocatedRooms | orderBy:'WeekDayID'">
                                        <a class="a_room" ng-href="/AllocatedRooms/Details/{{a.AllocatedRoomID}}">
                                            <strong>R.No:</strong>
                                            {{a.RoomNo}}, {{a.DayName}}, {{a.StartTime}} - {{a.EndTime}};
                                        </a>
                                    </span>
                                </td>
                                <td ng-if="$odd&&(c.AallocatedRooms.length<=0)" class="odd2">
                                    <span class="fa">
                                        <strong class="error">
                                            No Class Room is allocated for this course
                                        </strong>
                                    </span>
                                </td>
                                <td ng-if="$even&&(c.AallocatedRooms.length<=0)" class="even2">
                                    <span class="fa">
                                        <strong class="error">
                                            No Class Room is allocated for this course
                                        </strong>
                                    </span>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div id="row4" class="panel-footer">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="right btn-group">
                            <a ng-repeat="page in courses | filter:IsCourseSelected | pageCount:pageSize"
                               ng-click="selectPage($index + 1)" class="btn btn-default"
                               ng-class="getBtnClass($index + 1)">
                                {{$index + 1}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
