@{
    ViewBag.Title = "UnAallocate All Class Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="fa fa-2x">UnAallocate All Class Rooms</h2>

<div><h1 class="fa fa-2x">@ViewBag.Massage</h1></div>

<form action="UnAllocateConfirmed">
    <input type="submit" value="UnAllocate All" />
</form>
<form action="Index">
    <input type="submit" value="Cancel" />
</form>