@{
    ViewBag.Title = "UnAllocate Confirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="fa fa-2x">UnAllocate Confirmed</h2>

<div><h1 class="fa fa-2x">@ViewBag.Message</h1></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
